<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :q_type %>
    <%= form.text_field :q_type %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :sug_ans %>
    <%= form.text_field :sug_ans %>
  </div>

  <div class="field">
    <%= form.label :explain %>
    <%= form.text_area :explain %>
  </div>

  <div class="field">
    <%= form.label :seq_num %>
    <%= form.number_field :seq_num %>
  </div>

  <div class="field">
    <%= form.label :quiz_id %>
    <%= form.number_field :quiz_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
