<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Q type</th>
      <th>Content</th>
      <th>Sug ans</th>
      <th>Explain</th>
      <th>Seq num</th>
      <th>Quiz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %> 
      <tr>
        <td><%= question.q_type %></td>
        <td><%= question.content %></td>
        <td><%= question.sug_ans %></td>
        <td><%= question.explain %></td>
        <td><%= question.seq_num %></td>
        <td><%= question.quiz_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


<br>

<%= link_to 'New Question', new_question_path %>
