<p id="notice"><%= notice %></p>

<p>
  <strong>Q type:</strong>
  <%= @question.q_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Sug ans:</strong>
  <%= @question.sug_ans %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @question.explain %>
</p>

<p>
  <strong>Seq num:</strong>
  <%= @question.seq_num %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @question.quiz_id %>
</p>

<p>
  <%= @question.test_function %>
</p>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
