<p id="notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>
<% if @counter and @counter > 5 %>
    <p>Your have visited this page <%= pluralize(@counter, "time") %> without adding.</p>
<% end %>
<% cache @products do %>
    <% @products.each do |product| %>
        <% cache (product) do %>
            <div class="entry">
                <%= link_to image_tag(product.image_url, class: 'img'), line_items_path(product_id: product), 
                    method: :post, remote: true %>
                <h3><%= product.title %></h3>
                <p><%= sanitize(product.description) %></p>
                <div class="price_line">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= button_to 'Add to Cart', line_items_path(product_id: product), 
                        method: :post, remote: true %>
                </div>
            </div>
            <br><br>
        <% end %>    
    <% end %>
<% end %>
<button type="button" class="btn btn-danger">Danger</button>