<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "<%= controller.controller_name %> ">
    <div id="banner">
      <%= image_tag 'https://m.media-amazon.com/images/S/abs-image-upload-na/0/AmazonStores/ATVPDKIKX0DER/3c8659fb4eb3faafa5a9e8b322da1232.w2648.h942.png', 
        alt: 'The Pragmatic Bookshelf' %>
        
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <% if @cart %>
            <div id="cart">
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
              <% end %>
            </div>
          <% end %>
          <br>
          <li><a><%= @time %></a></li>
          <li><a><%= @date %></a></li>
          <br>
          <li><a href="httt://www....">Home</a></li>
          <li><a href="httt://www....">Questions</a></li>
          <li><a href="httt://www....">News</a></li>
          <li><a href="httt://www....">Contact</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
